@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="container">
    <div id="usermessage">
        <img id="user_img" />
        <ul id="user_ul">
            <li class="uer_ul_li">粉丝数</li>
            <li class="uer_ul_li">关注</li>
        </ul>
    </div>

    <div id="content">
        @RenderBody()
    </div>
    <div id="right_items">

    </div>
</div>