@{
}

@section head
{
    
    <link rel="stylesheet" href="~/css/Blogs/Create.css"/>
    <link rel="stylesheet" href="~/css/Blogs/github-markdown.css"/>
}
    
@section JavaScript
{
    <script src="~/showdown/dist/showdown.js"></script>
    <script src="~/js/Blogs_Create.js"></script>
}

<div name="markdown_test">
    <textarea id="input_blog" class="test-textarea"></textarea>
    <div id="output_blog" class="markdown-body">
    </div>
</div>
